@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Lato', sans-serif;
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 30px;
  text-align: center;
}

textarea::placeholder {
  font-family: monospace;
}

input::placeholder{
  font-family: monospace;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}



.recipe-img {
  width: 100%;
}

tbody tr:nth-child(odd) {
  background-color: #EAD5E6;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
}

.recipe-list {
  font-family: 'Lato', sans-serif;
  font-size: 25px;

}

.text-box {
  width: 85%
}

input {
  
  width: 85%;
  
}

td {
  align-items: center;
  
}

/* Column Size for thead and body, and create recipe*/
.content_td {
  width: 30%;
}

.small_th {
  width: 10%;
}

.create_small {
  width: 10%
}

.create_lg {
  width: 26%
}


@media (max-width: 1101px){

  .heading {
    font-size: 15px;
  }

}

